<div class="row mt-4 justify-content-center align-items-center">
  <div class="col-md-4 mb-4">
    <div class="card">
      <a>
        <div *ngIf="product">
          <img [ngSrc]="product.image" class="card-img-top bordered-image" alt="{{ product.name }}" width="50" height="350">
        </div>
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">Price: {{ product.price }}</p>
        <p class="card-text">Description: {{ product.description }}</p>
      </div>
    </div>
  </div>
</div>
