<!-- Start About Us Section -->
<section class="container-fluid">
  <div class="row text-center pt-3"style="margin-top: 20px">
    <div class="col-lg-6 m-auto">
      <h1 class="h1" ><b>À Propos de Nous</b></h1>
      <div style="border-bottom: 5px solid #ccc; width: 50%; margin: 0 auto;"></div>
      <p style="margin-top: 20px;">
        Bienvenue chez <b>E-Shop</b>, votre destination ultime pour des produits de qualité et des expériences de shopping exceptionnelles.
        Chez <b>E-Shop</b>, nous croyons en la fusion parfaite de la qualité, de l'innovation et du style, offrant à nos clients une sélection diversifiée de produits allant des appareils électroniques aux articles de mode.
        Découvrez l'histoire de notre entreprise, notre engagement envers la satisfaction client et notre passion pour fournir les meilleurs produits sur le marché.
      </p>
    </div>
  </div>
  <div style="border-bottom: 5px solid #ccc; width: 50%; margin: 0 auto;"></div>
  <div class="row" style="margin-top: 60px;">
    <div class="col-lg-6 m-auto img-container text-end" >
      <img src="assets/about.png" class="img-fluid" alt="About Us Image">
    </div>
    <div class="col-lg-6 mb-0 d-flex align-items-center">
      <div class="text-align-left " style="margin-left: 70px">
        <h2 class="h2 text-success"> <b>Notre Histoire</b></h2>
        <p>
          Depuis notre création, <b>E-Shop</b> s'est engagé à offrir à nos clients une expérience de shopping inégalée.
          Fondée sur des principes de qualité, d'innovation et de service exceptionnel, notre entreprise a évolué pour devenir une destination de choix pour ceux qui recherchent des produits de haute qualité et un service client exceptionnel.
        </p>
        <h2 class="h2 text-success mt-4"> <b>Notre Engagement</b></h2>
        <p>
          Chez <b>E-Shop</b>, nous sommes déterminés à satisfaire nos clients à chaque étape de leur parcours d'achat.
          Notre engagement envers la qualité signifie que chaque produit que nous proposons est soigneusement sélectionné pour garantir une satisfaction durable. Nous nous efforçons également de fournir un service client réactif pour répondre à vos besoins et questions.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
