<!-- Start Banner Hero -->
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="assets/watch.png" alt="" width="700" height="350">
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left align-self-center">
              <h1 class="h1 text-success"> <b>Explorez le Futur du Portage Technologique</b></h1>
              <h3 class="h2">Conçue pour la Performance et l'Élégance</h3>
              <p>
                L'Apple Watch redéfinit l'expérience du portage technologique avec une fusion parfaite de la performance et de l'élégance.
                Dotée d'un design épuré, elle offre une gamme de fonctionnalités avancées pour améliorer votre style de vie connecté.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid ms-auto m-2" src="assets/pc2.png" alt="" >
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1 text-success"> <b> Explorez le Monde du Gaming </b></h1>
              <h3 class="h2">Vivez une Expérience de Jeu Immersive</h3>
              <p>
                Plongez dans l'univers passionnant du gaming avec notre sélection de PC gamers de pointe.
                Découvrez des performances exceptionnelles, un design avant-gardiste et une puissance inégalée.
                Notre mission est de vous offrir une expérience de jeu immersive et inoubliable.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="container">
        <div class="row p-5">
          <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
            <img class="img-fluid" src="assets/television.jpg" alt="" >
          </div>
          <div class="col-lg-6 mb-0 d-flex align-items-center">
            <div class="text-align-left">
              <h1 class="h1 text-success"><b>Plongez dans l'Expérience Cinématographique</b> </h1>
              <h3 class="h2">Qualité d'Image Exceptionnelle, Son Immersif</h3>
              <p>
                Découvrez le plaisir ultime du divertissement avec notre gamme de télévisions de haute qualité.
                Profitez d'une expérience cinématographique exceptionnelle dans le confort de votre foyer.
                Nos télévisions offrent une qualité d'image cristalline, des couleurs éclatantes et un son immersif.
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
    <i class="fas fa-chevron-right"></i>
  </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
  <div class="row text-center pt-3">
    <div class="col-lg-6 m-auto">
      <h1 class="h1"><b>Categories du Mois</b></h1>
      <p>
        Explorez les tendances du mois avec nos catégories vedettes.
        Chaque mois, nous mettons en lumière une sélection soigneusement choisie de produits qui captivent l'essence de la
        Des articles essentiels aux trouvailles uniques, plongez dans les catégories en vogue ce mois-ci.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 p-5 mt-3 d-flex flex-column align-items-center">
      <a href="#"><img src="assets/watch.jpg" class="rounded-circle img-fluid border"></a>
      <h5 class="text-center mt-3 mb-3">Watches</h5>
      <p class="text-center"><a class="btn btn-success" routerLink="/products">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3 d-flex flex-column align-items-center">
      <a href="#"><img src="https://images.unsplash.com/photo-1511385348-a52b4a160dc2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGFwdG9wJTIwY29tcHV0ZXJ8ZW58MHx8MHx8fDA%3D" class="rounded-circle img-fluid border"></a>
      <h2 class="h5 text-center mt-3 mb-3">Laptop</h2>
      <p class="text-center"><a class="btn btn-success" routerLink="/products">Go Shop</a></p>
    </div>
    <div class="col-12 col-md-4 p-5 mt-3 d-flex flex-column align-items-center">
      <a href="#"><img src="https://5.imimg.com/data5/SELLER/Default/2023/4/299765966/IC/XT/AQ/6158633/55-smart-4k-led-tv-500x500.jpg" class="rounded-circle img-fluid border "></a>
      <h2 class="h5 text-center mt-3 mb-3">Télévision</h2>
      <p class="text-center"><a class="btn btn-success" routerLink="/products">Go Shop</a></p>
    </div>
  </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
  <div class="container py-5">
    <div class="row text-center py-3">
      <div class="col-lg-6 m-auto">
        <h1 class="h1"><b>Produit En Exclusivité</b></h1>
        <p>
          Découvrez notre Produit Vedette du moment, une sélection exclusive de produits qui incarne l'excellence et l'innovation.
          Chaque article présenté dans cette catégorie est soigneusement choisi pour offrir une expérience exceptionnelle à nos clients.
          Explorez nos produits les plus en vogue, des incontournables aux dernières nouveautés.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <img src="https://therichpost.com/wp-content/uploads/2021/05/feature_prod_01.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
              <li class="text-muted text-right">240.00</li>
            </ul>
            <a href="#" class="h2 text-decoration-none text-dark">Lampe Torche LED</a>
            <p class="card-text">
              Illuminez votre quotidien avec notre lampe torche LED haute performance.
              Compacte, légère et incroyablement brillante, cette lampe torche deviendra votre compagnon idéal pour toutes vos aventures.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <img src="https://therichpost.com/wp-content/uploads/2021/05/feature_prod_02.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-muted fa fa-star"></i>
              </li>
              <li class="text-muted text-right">480.00</li>
            </ul>
            <a href="#" class="h2 text-decoration-none text-dark">Montre Intelligente </a>
            <p class="card-text">
              Restez à la pointe de la mode tout en restant connecté avec notre montre intelligente.
              Un compagnon idéal pour votre style de vie moderne.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
          <img src="https://therichpost.com/wp-content/uploads/2021/05/feature_prod_03.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <ul class="list-unstyled d-flex justify-content-between">
              <li>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
                <i class="text-warning fa fa-star"></i>
              </li>
              <li class="text-muted text-right">360.00</li>
            </ul>
            <a href="#" class="h2 text-decoration-none text-dark">Appareils Photo Pro</a>
            <p class="card-text">
              Découvrez l'art de la photographie avec nos appareils photo de pointe.
              Conçus pour capturer chaque instant avec une clarté exceptionnelle, nos appareils photo offrent une qualité d'image professionnelle à chaque cliché.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Featured Product -->
<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-success border-bottom pb-3 border-light logo">E-Shop</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            Maroc
          </li>
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none" >06 66 78 95 87</a>
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="#">info@eshop.ma</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" >Luxury</a></li>
          <li><a class="text-decoration-none" >Sport Wear</a></li>
          <li><a class="text-decoration-none" >Men's Shoes</a></li>
          <li><a class="text-decoration-none" >Women's Shoes</a></li>
          <li><a class="text-decoration-none" >Popular Dress</a></li>
          <li><a class="text-decoration-none" >Gym Accessories</a></li>
          <li><a class="text-decoration-none" >Sport Shoes</a></li>
        </ul>
      </div>

      <div class="col-md-4 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Autres Information</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#">Home</a></li>
          <li><a class="text-decoration-none" href="#">About Us</a></li>
          <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
          <li><a class="text-decoration-none" href="#">FAQs</a></li>
          <li><a class="text-decoration-none" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
